<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header">
    <div id="header-wrapper">
        <div id="header" class="container">
            <div id="logo">
                <h1><span class="fa fa-bolt"></span><a th:href="@{/}">Turbo LMS</a></h1>
            </div>
            <div id="menu">
                <ul>
                    <li th:classappend="${activePage == 'courses'} ? current_page_item">
                        <a th:href="@{/course}" accesskey="2">Курсы</a>
                    </li>
                    <li th:classappend="${activePage == 'users'} ? current_page_item" sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/admin/user}">Пользователи</a>
                    </li>
                    <li th:classappend="${activePage == 'profile'} ? current_page_item" sec:authorize="isAuthenticated()">
                        <a sec:authentication="principal.username" th:href="@{/profile}">username</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" >
                        <form th:method="post"  th:action="@{/logout}">
                            <button class="button">Выйти</button>
                        </form>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <a th:href="@{/login}">Войти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

</html>