<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Изменение пароля</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link th:href="@{../../default.css}" rel="stylesheet">

</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div id="wrapper">
    <div id="featured-wrapper">
        <div class="form">
            <h1>Изменение пароля</h1>
            <hr>
            <form th:if="${tokenError == null}" th:object="${password}" th:method="post" th:action="@{/login/changePassword}">
                <input type="hidden" th:field="*{token}">
                <label for="password"><b>Пароль</b></label>
                <input type="password" placeholder="Введите пароль" id="password" th:field="*{newPassword}">
                <label for="confirmPassword"><b>Повторите Пароль</b></label>
                <input type="password"  placeholder="Повторите пароль" id="confirmPassword" th:field="*{confirmNewPassword}">
                <div>
                    <small class="validation-error" th:if="${passwordError != null}"  th:text="${passwordError}"></small>
                </div>
                <button type="submit" class="formButton">Отправить</button>
            </form>
            <div class="error" th:if="${tokenError != null}" th:text="${tokenError}"></div>
        </div>
    </div>
</div>
<div id="copyright" class="container">
    <p>Turbo LMS</a>.</p>
</div>

</body>
</html>