<html xmlns="http://www.w3.org/1999/xhtml"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Редактирование профиля</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
	<link href="../static/default.css" rel="stylesheet" type="text/css" media="all">

</head>
<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><span class="fa fa-bolt"></span><a href="index.html">Turbo LMS</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li ><a href="index.html" accesskey="1" title="">Домашняя страница</a></li>
					<li><a href="signIn.html" accesskey="2" title="">Войти</a></li>
					<li class="current_page_item"><a href="registration.html" accesskey="3" title="">Регистрация</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="wrapper">
		<div id="featured-wrapper">
			<form action="#">
				<div class="form">
					<h1>Редактирование профиля</h1>
					<img src="../images/no_avatar.png" class="full_avatar">
					<hr>

					<input type="file" name="f">
					<button type="submit" class="formButton">Обновить</button>
					<hr>

					<label for="name"><b>Изменить имя</b></label>
					<input type="text" placeholder="Введите Имя" name="name">

					<label for="desc"><b>Описание</b></label>
					<textarea placeholder="Добавьте Описание" name="desc"></textarea>
					<hr>
					<button type="submit" class="formButton">Сохранить</button>
				</div>
			</form>
			
		</div>
	</div>
	<div id="copyright" class="container">
		<p>Turbo LMS</a>.</p>
	</div>

</body>
</html>