<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Поиск курса</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"/>
    <link th:href="@{../default.css}" rel="stylesheet">

</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div id="wrapper">
    <div id="featured-wrapper">
        <div class="form">
            <h1>Курс</h1>
            <hr>
            <form>
                <label for="titlePrefix" class="inline"><b>поиск по названию курса</b></label>
                <input type="text" id="titlePrefix" placeholder="Введите Название" class="inline" name="titlePrefix"
                       th:value="${param.titlePrefix}" }>
                <button type="submit" class="formButton">Найти</button>
            </form>
            <hr>
            <table class="table-form">
                <tr>
                    <th>
                        <th:block th:if="${sortField == 'id'}">
                            <a th:href="${isAscending} == true ? @{/course/?sort=id,desc} : @{/course/?sort=id,asc}">
                                <i th:class="${isAscending} == true ? ${'fa fa-sort-up'} : ${'fa fa-sort-down'}"
                                   aria-hidden="true"></i>
                                id</a>
                        </th:block>
                        <th:block th:unless="${sortField == 'id'}">
                            <a th:href="@{/course/?sort=id,asc}"><i class="fa fa-sort" aria-hidden="true"></i> id</a>
                        </th:block>
                    </th>
                    <th>
                        <th:block th:if="${sortField == 'title'}">
                            <a th:href="${isAscending} == true ? @{/course/?sort=title,desc} : @{/course/?sort=title,asc}">
                                <i th:class="${isAscending} == true ? ${'fa fa-sort-up'} : ${'fa fa-sort-down'}"
                                   aria-hidden="true"></i>
                                Название</a>
                        </th:block>
                        <th:block th:unless="${sortField == 'title'}">
                            <a th:href="@{/course/?sort=title,asc}"><i class="fa fa-sort" aria-hidden="true"></i>
                                Название</a>
                        </th:block>
                    </th>
                    <th>
                        <th:block th:if="${sortField == 'author'}">
                            <a th:href="${isAscending} == true ? @{/course/?sort=author,desc} : @{/course/?sort=author,asc}">
                                <i th:class="${isAscending} == true ? ${'fa fa-sort-up'} : ${'fa fa-sort-down'}"
                                   aria-hidden="true"></i>
                                Автор</a>
                        </th:block>
                        <th:block th:unless="${sortField == 'author'}">
                            <a th:href="@{/course/?sort=author,asc}"><i class="fa fa-sort" aria-hidden="true"></i> Автор</a>
                        </th:block>
                    </th>
                    <th sec:authorize="hasRole('STUDENT')">Изучить</th>
                    <th sec:authorize="hasRole('ADMIN')">Назначить</th>
                    <th sec:authorize="hasRole('ADMIN')">Удалить</th>
                </tr>
                <tr th:unless="${courses.empty}" th:each="course : ${courses}">

                    <td th:text="${course.id}">1</td>
                    <td>
                        <a th:text="${course.title}" th:href="@{/course/{id}(id = ${course.id})}"></a>
                    </td>
                    <td th:text="${course.author}"></td>
                    <td sec:authorize="hasRole('STUDENT')">
                        <form th:method="post" th:action="@{/course/{id}/assign (id = ${course.id})}">
                            <input type="hidden" name="userId" th:value="${user.id}">
                            <button type="submit" class="TableButton">Изучить</button>
                        </form>
                    </td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <form th:method="get" th:action="@{/course/{id}/assign (id = ${course.id})}">
                            <button type="submit" class="TableButton">Назначить</button>
                        </form>
                    </td>
                    <td>
                        <form th:method="delete" sec:authorize="hasRole('ADMIN')"
                              th:action="@{/course/{id}(id = ${course.id})}">
                            <button type="submit" class="TableButton">Удалить</button>
                        </form>
                    </td>
                </tr>
                <tr th:if="${courses.empty}">
                    <td colspan="4">No data</td>
                </tr>
            </table>
            <div th:if="${courses.totalPages > 0}">
                <nav aria-label="navigation">
                    <ul class="pagination" th:each="pageNumber : ${pageNumbers}">
                        <li class="page-item">
                            <th:block th:if="${courses.getNumber() != (pageNumber - 1)}">
                                <a class="page-link" th:href="@{/course(page=${pageNumber - 1},sort=${sortString})}"
                                   th:text="${pageNumber}">1</a>
                            </th:block>
                            <th:block th:if="${courses.getNumber() == (pageNumber - 1)}">
                                <span th:text="${pageNumber}"></span>
                            </th:block>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <a th:href="@{course/new}" sec:authorize="hasRole('ADMIN')">Добавить новый курс</a>
            </div>
        </div>

    </div>
</div>
<div id="copyright" class="container">
    <p>Turbo LMS.</p>
</div>


</body>
</html>