<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Поиск курса</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link th:href="@{../default.css}" rel="stylesheet">

</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div id="wrapper">
    <div id="featured-wrapper">
        <div class="form">
            <h1>Курс</h1>
            <hr>
            <form>
                <label for="titlePrefix" class="inline"><b>поиск по названию курса</b></label>
                <input type="text" id="titlePrefix" placeholder="Введите Название" class="inline" name="titlePrefix"
                       th:value="${param.titlePrefix}" }>
                <button type="submit" class="formButton">Найти</button>
            </form>
            <hr>
            <table class="table-form">
                <tr>
                    <th>id</th>
                    <th>Название</th>
                    <th>Автор</th>
                    <th sec:authorize="hasRole('STUDENT')">Изучить</th>
                    <th sec:authorize="hasRole('ADMIN')">Назначить</th>
                    <th sec:authorize="hasRole('ADMIN')">Удалить</th>
                </tr>
                <tr th:unless="${courses.empty}" th:each="course : ${courses}">

                    <td th:text="${course.id}">1</td>
                    <td>
                        <a th:text="${course.title}" th:href="@{/course/{id}(id = ${course.id})}"></a>
                    </td>
                    <td th:text="${course.author}"></td>
                    <td sec:authorize="hasRole('STUDENT')">
                        <form th:method="get" th:action="@{/course/{id}(id = ${course.id})}">
                            <input type="hidden" name="userId" th:value="${user.id}">
                            <button type="submit" class="TableButton">Изучить</button>
                        </form>
                    </td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <form th:method="get" th:action="@{/course/{id}/assign (id = ${course.id})}">
                            <button type="submit" class="TableButton">Назначить</button>
                        </form>
                    </td>
                    <td>
                        <form th:method="delete" sec:authorize="hasRole('ADMIN')"
                              th:action="@{/course/{id}(id = ${course.id})}">
                            <button type="submit" class="TableButton">Удалить</button>
                        </form>
                    </td>
                </tr>
                <tr th:if="${courses.empty}">
                    <td colspan="4">No data</td>
                </tr>
            </table>
            <div>
                <a th:href="@{course/new}" sec:authorize="hasRole('ADMIN')">Добавить новый курс</a>
            </div>
        </div>

    </div>
</div>
<div id="copyright" class="container">
    <p>Turbo LMS.</p>
</div>


</body>
</html>