<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Редактирование курса</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link th:href="@{../default.css}" rel="stylesheet">

</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div id="wrapper">
    <div id="featured-wrapper">
        <div class="form">
            <form action="#">
                <h1 th:text="${course.title}"></h1>
                <img src="images/no_avatar.png" class="full_avatar">
                <hr>
                <input type="file" name="f">
                <button type="submit" class="formButton">Обновить</button>
                <hr>
            </form>
            <form th:object="${course}" th:method="post" th:action="@{/course}">
                <input type="hidden" th:field="*{id}">
                <label for="course-name"><b>Название курса</b></label>
                <input type="text" th:field="*{title}" id="course-name">
                <div color="red">
                    <small class="validation-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Поле
                        названия курса должно быть заполнено</small>
                </div>
                <label for="author-course"><b>Автор курса</b></label>
                <input type="text" th:field="*{author}" id="author-course">
                <div class="required">
                    <small class="validation-error" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Поле
                        автора курса должен быть заполнен</small>
                </div>
                <button type="submit" class="formButton">Сохранить</button>
                <hr>
            </form>
            <form>
                <label><b><a name="course_id" th:href="@{../lesson/new(course_id = ${course.id})}">Новый
                    урок</a></b></label>
            </form>
            <table class="table-form">
                <tr>
                    <td>id</td>
                    <td>Название</td>
                    <td>Действие</td>
                </tr>
                <tr th:each="lesson : ${lessons}">
                    <td th:text="${lesson.id}"></td>
                    <td>
                        <a th:text="${lesson.title}" th:href="@{/lesson/{id}(id = ${lesson.id})}"></a>
                    </td>
                    <form th:method="delete" th:action="@{/lesson/{id}(id = ${lesson.id})}">
                        <td>
                            <button type="submit" class="TableButton">Удалить</button>
                        </td>
                    </form>
                </tr>
            </table>

            <label for=><b>Пользователи связанные с этим курсом</b></label>
            <table class="table-form">
                <tr>
                    <th>id</th>
                    <th>Имя Пользователя</th>
                    <th>Действие</th>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td>
                        <form th:method="delete" th:action="@{/course/{courseId}/unsign (courseId = ${course.id})}">
                            <button name="userId" th:value="${user.id}" type="submit" class="TableButton">Снять с
                                курса
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>
</div>
<div id="copyright" class="container">
    <p>Turbo LMS.</p>
</div>
</body>
</html>