<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<link th:href="@{default.css}" rel="stylesheet">

</head>
<body>
<header th:replace="fragments/header :: header"></header>
	<div id="header-featured">
		<div id="banner-wrapper">
			<div id="banner" class="container">
				<h2>Turbo LMS</h2>
				<h3>Это Turbo LMS, бесплатная платформа обучения, где каждый человек, благодоря множеству курсов, сможет узнать что то новое для себя!</h3>
				<a th:href="@{/course}" class="button">Начать обучение!</a>
			</div>
		</div>
	</div>
	<div id="wrapper">
		<div id="featured-wrapper">
			<div id="featured" class="extra2 margin-btm container">
				<div class="main-title">
					<h2>Наши приемущества</h2>
				</div>
				
				<div class="ebox1"> <span class="fa effect"></span>
					<div class="title">
						<h2>Эффективность</h2>
					</div>
					<p>Благодаря нашим преподователям и качественно выстроенному учебному плану учёба с помощью Turbo LMS становится эффективней. </p>
				</div>
				<div class="ebox2"> <span class="fa mentor"></span>
					<div class="title">
						<h2>Высококвалифицированные наставники</h2>
					</div>
					<p>Наши наставники являются специалистами своего дела, которые имеют за спиной огромный практический опыт. Вам всегда будет чему научиться.</p>
					
				</div>
			</div>
		</div>
	</div>
	<div id="copyright" class="container">
		<p>Turbo LMS</p>
	</div>
</body>
</html>