<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Редактирование профиля</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
	<link th:href="@{default.css}" rel="stylesheet">

</head>
<body>
<header th:replace="fragments/header :: header"></header>

	<div id="wrapper">
		<div id="featured-wrapper">
			<form action="login" th:action="@{/login}" name="f" method="post">
				<div class="form">
					<h1>Войти в аккаунт</h1>
					<p>Пожалуйста, заполните поля, чтобы войти</p>
					<hr>
					<div th:if="${param.logout}" class="alert-success">
						You have been logged out.
					</div>

					<label for="username"><b>username</b></label>
					<input type="text" placeholder="Введите username" name="username" required>
					<div th:if="${param.error}" class="validation-error">
						Invalid username and password.
					</div>

					<label for="password"><b>Пароль</b></label>
					<input type="password" placeholder="Введите Password" name="password" required>
					<hr>
					<button name="submit" type="submit" class="formButton">Войти</button>
				</div>
			</form>

				<div class="container signin">
					<p>Ещё нет аккаунта? <a href="registration.html">зарегистрироваться</a>.</p>
				</div>
		</div>
	</div>
	<div id="copyright" class="container">
		<p>Turbo LMS</a>.</p>
	</div>

</body>
</html>