<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Восстановление пароля</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link th:href="@{../../default.css}" rel="stylesheet">

</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div id="wrapper">
    <div id="featured-wrapper">
        <div class="form">
            <h1>Восстановление пароля</h1>
            <hr>
            <form th:if="${successSend == null}" th:method="post" th:action="@{/login/resetPassword}">
                <label for="email"><b>Введите ваш email для восстановления пароля</b></label>
                <input type="email" placeholder="Введите email" id="email" name="email" th:value="${email}">
                <div>
                    <small class="validation-error" th:if="${emailError != null}"  th:text="${emailError}"></small>
                </div>
                <hr>
                <button type="submit" class="formButton">Отправить</button>
            </form>
            <div class="success" th:if="${successSend != null}" th:text="${successSend}"></div>
        </div>
    </div>
</div>
<div id="copyright" class="container">
    <p>Turbo LMS</a>.</p>
</div>

</body>
</html>